SET allow_experimental_geo_types=1;

CREATE DATABASE IF NOT EXISTS datawagon;
CREATE DATABASE IF NOT EXISTS datawagon_replica;

CREATE TABLE IF NOT EXISTS datawagon.status_route_queue
(
    wagnum                  UInt64,
    st_id_disl              UInt64,
    st_id_dest              UInt64,
    train_st_start          UInt64,
    train_st_end            UInt64,
    train_st_num            UInt64,
    train_index             String,
    operdate                DateTime,
    datetime                DateTime
)
ENGINE=Kafka()
SETTINGS
kafka_broker_list = '{{ kafka.SERVERS }}',
kafka_topic_list = '{{ kafka.TOPICS.STATUS_ROUTE }}',
kafka_group_name = 'status_route_group1',
kafka_format = 'JSONEachRow',
input_format_import_nested_json=1;


CREATE TABLE IF NOT EXISTS datawagon.status_route
(
    id                      UUID,
    wagnum                  UInt64,
    st_id_disl              UInt64,
    st_id_dest              UInt64,
    train_st_start          UInt64,
    train_st_end            UInt64,
    train_st_num            UInt64,
    train_index             String,
    operdate                DateTime,
    datetime                DateTime,
    created_at              DateTime  DEFAULT now()
)
Engine=ReplicatedMergeTree('{{ node.STATUS_ROUTE.REPLICA_PATH }}', '{{ node.STATUS_ROUTE.REPLICA_NAME }}')
PARTITION BY toYYYYMMDD(created_at)
ORDER BY (id);


CREATE MATERIALIZED VIEW IF NOT EXISTS datawagon.status_route_consumer
TO datawagon.status_route
AS SELECT wagnum, st_id_disl, st_id_dest, train_st_start, train_st_end, train_st_num, train_index, operdate, datetime, generateUUIDv4() as id
FROM datawagon.status_route_queue;


CREATE TABLE IF NOT EXISTS default.{{ node.STATUS_ROUTE.DISTRIBUTED_TABLE }}
(
    id                      UUID,
    wagnum                  UInt64,
    st_id_disl              UInt64,
    st_id_dest              UInt64,
    train_st_start          UInt64,
    train_st_end            UInt64,
    train_st_num            UInt64,
    train_index             String,
    operdate                DateTime,
    datetime                DateTime,
    created_at              DateTime  DEFAULT now()
)
ENGINE = Distributed({{ node.CLUSTER }}, '', {{ node.STATUS_ROUTE.DISTRIBUTED_TABLE }}, rand());
