@import 'src/colors';

.leftBar {
  padding: 16px;
  border-right: 1px solid #ccc;
  max-height: 100vh;
  overflow-y: auto;

  .searchInput {
    background-color: $white;
    height: 40px;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;

    &:focus {
      outline: none;
      border-color: $primary;
      box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    }

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .filterButton {
    margin-left: 1%;
    height: 40px;
    padding: 10px;
    background-color: $white;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      background-color: $white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .route-card {
      margin-bottom: 8px;
    }
  }

  .formContainer {
    display: flex;
  }
}


